

div{
	box-shadow: 1px 1px 1px grey;
}
table{
	border:1px #dcdcdc;
	border-radius: 20px;
	text-align: left ;
	
}
th{
	background-color: #3063a1 ;
	border: none ;
	margin:none;
	text-color: #ffffff;
}
tr:nth-child(even){
	background-color:#dcdcdc;
}
