
table{
	border:1px solid powderblue;
	border-radius:8px:
	text-align: left;
	text-color:white;
	width: 100%;
}
thead{
	background_color:#3063a1;
}
tr:nth-child(even){
	background_color:hsl(0, 0%, 90%);
	
	
}