table{
	border:1px  grey;
	border-collapse: collapse;
	text-align: left ;
}
thead{
    background-color: #3063a1 ;
}
tbody{
}
th{
	text-color: #ffffff;
}
tr:nth-child(even){
	background-color:#dcdcdc;
}
